.day-table {
    flex-grow: 1;
}

.day-paper {
    background-color: #1976d2 !important;
    color: #fff !important;
    padding: 5px;
    margin-bottom: 2px;
}

.subject-paper {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 !important;
    margin-bottom: 1px;

    cursor: pointer;
    &:hover {
        opacity: .7;
    }
}